<div class = "jumbo">
  <h2>About Questions</h2>

  <p>
    The Questions website is a delightful project created to explore Ember.<br>By building a questions and answers message board site, we can simultaneously imagine traveling and building Ember applications.
  </p>
  {{#link-to 'contact' class = "button"}}
  Contact Us
  {{/link-to}}

</div>
