<div class = "jumbo">
  <h2>Contact Us</h2>
  <p>Questions Board would love to help you<br>choose what questions to ask and answer any questions you may be looking for the answers.</p>
  <p>
    Question Board
    <a href = "mailto:agathu87@gmail.com">agathu87@gmail.com</a><br>
  </p>
  {{#link-to 'about' class = "button"}}
  About
  {{/link-to}}
</div>
{{outlet}}
