<div class = "jumbo">
  <h2>Welcome!<br>To Questions Board!!</h2>
  <p>Feel free to ask any question and give it the answer of your choice.</p>
  {{#link-to 'about' class = "button"}}
  About Us
  {{/link-to}}
</div>
{{outlet}}
